.navbar {
    background-color: #1B0F4E;
    box-shadow: 0px 4px 35px 10px rgba(0, 0, 0, 0.25);
    color: white;
    height: 60px;
  }

.navbar-brand{
    margin-left: 10px;
}

.back{
    margin-right: 10px;
    margin-bottom: 7px;
    height: 25px;
    width: 25px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    max-width: 90%;
    margin-right: auto; 
    margin-bottom: 40px;
    margin-top: 20px;
}

.content iframe {
    max-width: 100%;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    display: flex;
}

